---
layout: page
title: Authors
header: Posts by author
group: navigation
js: [filter_author]
---
{% for item in site.authors %}
  {% assign author = item[1] %}
<div class="author" id="{{ item[0] }}">
  <h2>
    {% if author.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
    {% endif %}
    <span class="author-name">{{ author.name }}</span>
  </h2>

  <div class="row-fluid">
    <div class="span4 author-details">
      <ul>
	{% if author.twitter %}
	<li>twitter: <a href="https://twitter.com/{{author.twitter}}">@{{author.twitter}}</a></li>
	{% endif %}
	{% if author.github %}
	<li>github: <a href="https://github.com/{{author.github}}">{{author.github}}</a></li>
	{% endif %}
	{% if author.bitbucket %}
	<li>bitbucket: <a href="https://bitbucket.com/{{author.bitbucket}}">{{author.bitbucket}}</a></li>
	{% endif %}
      </ul>
    </div>

    <div class="span8">
      <ul>
        {% for p in site.posts do %}
          {% if p.author == item[0] %}
            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}
