---
layout: page
title:
group: navigation
js: [filter_by_url]
---

{% for item in site.authors %}
  {% assign author = item[1] %}
<div class="item" id="{{ item[0] }}">
  <h2>
    {% if author.gravatar %}
      <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
    {% endif %}
    <span class="author-name">{{ author.name }}'s blog</span>
  </h2>

  {% for page in site.posts do %}
     {% if page.author == item[0] %}
       {% include custom/post_teaser %}
     {% endif %}
  {% endfor %}
</div>
{% endfor %}
