---
layout: default
---
{% include JB/setup %}

<div style="background:#fdd; font-size:large;padding:20px;margin:40px;text-align:center;border:solid thin red">
  Este sitio web está actualmente en construcción. Quizá estés buscando:

  <p style="padding-top:20px">
    <a href="http://crysol.org">CRySoL.org</a>
  </p>
</div>

{% for page in site.posts %}
<div class="node teaser">
  <h2><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a></h2>

  {% include custom/post_header %}

  <div class="content">
    {% if page.excerpt %}
    {{ page.content | split:site.excerpt_separator | first }}
    {% else %}
    {{ page.content | strip }}
    {% endif %}
  </div>

  <div class="footer">
    {% if page.content contains site.excerpt_separator %}
    <div class="read-more">
      <a href="{{ BASE_PATH }}{{ page.url }}">
	{% if page.lang == "en" %}
	Read more
	{% else %}
	Leer más
	{% endif %}
      </a>
    </div>
    {% endif %}
  </div>

</div>
{% endfor %}
