---
layout: default
---
{% include JB/setup %}

<div style="background:#fdd; font-size:large;padding:20px;margin:40px;text-align:center;border:solid thin red">
  Este sitio web está actualmente en construcción. Quizá estés buscando:

  <p style="padding-top:20px">
    <a href="http://crysol.org">CRySoL.org</a>
  </p>
</div>

  {% for post in site.posts %}
  <div class="node">
    <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>

    <div class="meta">
      <ul>
	{% assign categories_list = page.categories %}
	{% include JB/categories_list %}
      </ul>
    </div>

    <span class="submitted">
      {{ post.date | date: "%Y-%m-%d" }}
      {% if post.author %}
        —  {{ post.author }}
      {% endif %}
    </span>

    <div class="content">
      {% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
      {% else %}
        {{ post.content | strip }}
      {% endif %}
    </div>

    <div class="footer">
      {% if post.content contains '<!--more-->' and post.content | split:'<!--more-->' | second %}
      <div class="read-more">
        <a href="{{ BASE_PATH }}{{ post.url }}">Leer más</a>
      </div>
      {% endif %}
    </div>

  </div>
  {% endfor %}
